body{
    background: url('../images/dust_scratches.png') repeat;
    text-align: center;
    padding: 50px 0;
}

.inst{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
.inst-content{
    width: 80%;
    height: 80%;
    background: white;
    text-align: left;
}
.inst-content h3{
    text-align: center;
}

.reset-game{
    font-size: 3em;
    height: 100vh;
    width: 100vw;
    background: rgba(255,255,255,1);
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.loader{
    animation: 6.5s fadein linear infinite;
}
.loader-1{
    opacity: 0;
    animation-delay: 1.5s;
}
.loader-2{
    opacity: 0;
    animation-delay: 2.5s; 
}
.loader-3{
    opacity: 0;
    animation-delay: 3.5s;
}
.loader-4{
    opacity: 0;
    animation-delay: 4.5s; 
}
@keyframes fadein{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    20%{
        opacity: 0;
    }
}